{% extends "base.html" %}
{% block content %}
<style>
    pre {
        padding: 1em;
        white-space: pre-wrap;
        overflow-x: hidden;
        word-wrap: break-word;
        background-color: #f8f9fa;
        color: #000;
        border: 1px solid #eaecf0;
        margin-top: 5px;
    }
</style>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% else %}
<h2>Deploy commands for <a href="https://gerrit.wikimedia.org/r/{{id}}">{{id}}</a>:</h2>
<p class="alert alert-info" role="alert">If you need help, <a href="https://wikitech.wikimedia.org/wiki/Backport_windows/Deployers">here are the docs</a></p>
<p class="alert alert-warning" role="alert">After SSH'ing to the deployment server, use <pre>tmux</pre> or <pre>screen</pre> to avoid <a href="https://wikitech.wikimedia.org/wiki/Backport_windows/Deployers#tmux_or_screen">disconnecting during a long running sync.</a></p>
{% for i in deploy %}
{{ i[0] }}
<pre>{{ i[1] }}</pre>
{% endfor %}
{% if warning %}
<div class="alert alert-warning" role="alert">
    {{warning}}
</div>
{% endif %}
<h2>Revert commands:</h2>
{{ revert[0] }}
<pre>{{ revert[1] }}</pre>
{% endif %}
{% endblock %}
